---
layout: default
title: Записи
in_menu: "true"
menu_order: 10
---

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1> 
  
  <p class="rss-subscribe">
    подписаться <a href="{{ "/feed.xml" | prepend: site.baseurl }}">на RSS</a>
  </p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        {% if post.categories contains "note" %}
          {{ post.content }}
        {% else %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.excerpt }}
        </p>
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">Подробнее...</a>
        </p>
      {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
